@charset "UTF-8";

/******************************** header **************************/

header{
	width: 100%;
	height: 320px;
	background-image: url("../images/common/voice.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	
	
	
}

nav{
	width: 100%;
	height: 98px;
	border-bottom: rgba(0,0,0,.1) 1px solid; 
	
	
}

.header_wrap{
	width:1132.01px;
	height:100px;
	margin: 0 auto;
	overflow: hidden;
	
	
}

.header_wrap >img{
	width: 91.2px;
	height: 55.19px;
	padding-top: 22.405px;
	
}

.header_nav{
	margin-right:16px;
	width: 1024.83px;
	height: 60px;
	margin-top: 40px;
	float: right; /* float!!!!!  */
	
}

.header_menu{
	margin-top: 21px;
	overflow: hidden;
	
}
.header_menu >li{
	float: right;
	margin-left: 72px;
	font-size: 18px;
    font-family: baskerville-bt-roman,Serif;
    font-weight: 400;
    color: #fff;
}

.header_down{
	width: 100%;
	height: 221px;
	overflow: hidden;
	
}

.voice{
	width:100%;;
	height: 50px;
	margin-top: 81px;
	text-align: center;
	
	font-family: baskerville-bt-roman,Serif;
	font-weight: 400;
	font-size: 40px;
	color: #FFFFFF;
}

/*************************** main ***********************************/

.main_info{
	width: 1140px;
	height: 687px;
	background-color: fuchsia;
	margin: 0 auto;
	margin-top:80px;
	
}


.main_info1{
	width: 467px;
	height: 663px;
	background-color: lime;
	float: left;
	margin-left: 95px;
	
}

.main_info1_store{
	width: 467px;
	height: 38px;
	background-color: green;
	margin-bottom: 24px;
	border-bottom: solid 1px rgb(88, 73, 52);
	
}
/* .main_info1_choice{
	width: 467px;
	height: 36px;
	background-color: olive;
	
} */


.store_a{
	width: 430.05px;
	height: 27.53px;
	background-color: aqua;
	float: left;
	color: rgb(128, 128, 128);
	font-size: 13px;
	font-family: Roboto,Noto Sans KR,sans-serif;
	line-height: 27.53px;
}

.store_b{
	width: 34.97px;
	height: 27.53px;
	background-color: purple;
	border-left: solid #ccc 1px;
	float: right;
	
}
.main_info1_sub{
	width: 467px;
	height: 32px;
	background-color: orange;
	margin-bottom: 24px;
	color: rgb(128, 128, 128);
	font-size: 13px;
	font-family: Roboto,Noto Sans KR,sans-serif;
	width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #584934;
}
.main_info1_texter{
	width: 467px;
	height: 263.41px;
	width: 100%;
    border: 0;
    outline: 0;
	background-color: blue;
	margin-bottom: 24px;
	color: rgb(128, 128, 128);
	font-size: 13px;
	font-family: Roboto,Noto Sans KR,sans-serif;
	border-bottom: 1px solid #584934;
}

.main_info1_file{
	width: 467.01px;
	height: 36.96px;
	background-color: aqua;
	magin_bottom:24px;
	color: #3a2d23;
	font-size: 13px;
	font-family: Roboto,Noto Sans KR,sans-serif;
	
}
/******************* info2 **************************/

.main_info2{
	width: 419.5px;
	height: 403.594px;
	background-color: maroon;
	float: right;
	margin-right: 95px;
	overflow: hidden;
	
}

.main_info2_a{
	width: 100%;
	height: 180px;
	background-color: olive;
	font-size: 20px;
	line-height: 1.8;
	font-weight: 200;
	color: #3a2d23;
    font-family: Roboto,Noto Sans KR,sans-serif;
}

.main_info2_a > span{
	
	    font-weight: 400;
}

.main_info2_b{
	width: 100%;
	height: 25px;
	margin-top: 16px;
	background-color: orange;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.8;
	color: #3a2d23;
    font-family: Roboto,Noto Sans KR,sans-serif;
	font-size: 16px;
	
}
.main_info2_c{
	width: 100%;
	height: 28px;
	margin-top: 1.6px;
	background-color: purple;
	color: #3a2d23;
    font-family: Roboto,Noto Sans KR,sans-serif;
    line-height: 1.8;
    font-size: 16px;
    
}



.main_info2_d{
	width: 419.5px;
	height: 57px;
	background-color: orange;
	margin-top: 32px;
	font-size: 12px;
	font-weight: 300;
    line-height: 1.6;
    color: #3a2d23;
    font-family: Roboto,Noto Sans KR,sans-serif;
	
}
.main_info2_e{
	width: 419.5px;
	height: 40px;
	margin-top: 24px;
	background-color: purple;
}

.main_info2_button{
	width: 116.53px;
	height: 40px;
    border: 2px solid #f7901e;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    float: right;
	
}


.main_info2_button > a{
	font-size: 14px;
    color: #f7901e;
	
}

.main_info2_button:hover{background-color: #f7901e; }
.main_info2_button a:hover{color: white;}


.input{
	    font-weight: 400;
	    font-size: 13px;
	    color: #3a2d23;
    font-family: Roboto,Noto Sans KR,sans-serif;
	
}

.main_down{
	width: 100%;
	height: 184.19px;
	background-image: url("../images/common/gray-box.png");
	margin: 0 auto;
	margin-top: 72px;	
	overflow: hidden;
}

.check_wrap{
 	width: 938px;
 	height: 72.19px;
 	background-color: red;
 	margin: 0 auto;
 	margin-top: 56px;
 	
	
}
.check{
	width: 186px;
	height: 100%;
	background-color: teal;
	float:  left;
	font-size: 19.2px;
	font-weight: 300;
    color: #f7901e;
    font-family: Roboto,Noto Sans KR,sans-serif;
	
}

.check_text{
		width: 752px;
		height: 100%;
		background-color: yellow;
		float: right; 
		font-size: 13px;
		color: #3a2d23;
   	 font-family: Roboto,Noto Sans KR,sans-serif;
	
}

#c{
	margin-bottom: 3.2px;
	
	
}

/********************************************* footer ********************************************************/

footer{
	width: 100%;
	height: 264.063px;
	background-color: #584934;
}

.footer_top{
	width: 100%;
	height: 80px;
	border-bottom: solid 1px rgba(0,0,0,.24);
	
}


.footer_subtop{
	width: 1140px;
	height: 80px;
	margin:0 auto;
	background-color: fuchsia;
	
}


.a1{
	width: 285px;
	height: 80px;
	float: left;
	font:  14px Roboto,Noto Sans KR,sans-serif;
	font-weight: 400;
	color: #fdfaeb;
	line-height: 80px;
	background-color: red;
}

.a2{
	width: 665px;
	height: 80px;
	float: left;
	font: normal 14px Roboto,Noto Sans KR,sans-serif;
	line-height: 80px;
	color: #fdfaeb;
	
}

.a3{
	width: 190px;
	height: 80px;
	float: left;
	font: 14px Roboto,Noto Sans KR,sans-serif; 
	line-height: 80px;
	
}

.a3 >a{
	float: right;
	color: #f7901e;
}

.a3 a:hover {
		color: #f27600;
		/* color: rgb(247,144,30); */
}

.footer_down{
	width: 100%;
	height: 184px;
	
}

.footer_subdown{
	width: 1140px;
	height: 184px;
	margin:0 auto;
	overflow: hidden;
	background-color: blue;
	
}

.b1{

	width: 285px;
	height: 72px;
	float: left;
	line-height: 72px;
	background-color: aqua;
	margin-top: 56px;
	
	
}

.b1 img{
	width: 220;
	height: 21.95px;
	padding: 4px;
	
}

.b2 {

	width: 665px;
	height: 72px;
	float:left;
	margin-top: 56px;
}
	

.b2_1{
	font: 12px Roboto,Noto Sans KR,sans-serif;
	color: rgba(255,255,255,0.4); 
	padding: 4px;
}

.b2_2{
	font: 12px Roboto,Noto Sans KR,sans-serif;
	color: rgba(255,255,255,0.4); 
	padding: 4px;
}

.b2_3{
	font: 13px baskerville-bt-roman,Serif;;
	color: rgba(255,255,255,0.4); 
	padding: 4px;
}

.b3{
	width: 190px;
	height: 72px;
	float: left;
	margin-top: 56px;; 

}

.b3_sub{
	width: 151.98px;
	height: 37px;
	float: right;

}

.b3_3 img{
	width: 28px;
	height: 28px;
	float: right;
	margin-left: 16px;
}
.b3_2 img{
	width: 28px;
	height: 28px;
	float: right;
	margin-left: 16px;
}

.b3_1 img{
	width: 36px;
	height: 37px;
	float: right;
	margin-left: 16px;
}


}