@charset "UTF-8";

header{
	width: 100%;
	height: 890px;
	background-image: url("../images/common/background.jpg");
}

nav{
	width: 100%;
	height: 98px;
	border-bottom: rgba(0,0,0,.1) 1px solid; 
}
	
	
}

.main1{
	background-color: blue;
	width: 1108px;
	height: 615.313px;
	margin: 0 auto;
	margin-top: 179.444px;
}
	
	
.main2{
	width: 100%;
	height: 529.514px;
	background-color: #fdfaeb;
	margin: 0 auto;
	overflow: hidden;
	
}

footer{
	width: 100%;
	height: 264.063px;
	background-color: #584934;
}
	
	
	
}