@charset "UTF-8";


/******************************** header **************************/

header{
	width: 100%;
	height: 890px;
	background-image: url("../images/common/background.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
}

nav{
	width: 100%;
	height: 98px;
	border-bottom: rgba(0,0,0,.1) 1px solid; 
}


.header_wrap{
	width:1132.01px;
	height:100px;
	margin: 0 auto;
	overflow: hidden;
	
	
}

.header_wrap >img{
	width: 91.2px;
	height: 55.19px;
	padding-top: 22.405px;
	
}

.header_nav{
	width: 1000px;
	height: 30px;
	float: right;
	margin-top: 60px;
	margin-right: 24.83px;

	
}
.header_menu li{
	float: right;
	margin-left: 72px;
	font-size: 18px;
    font-family: baskerville-bt-roman,Serif;
}

.illust{
	width: 1440px; 
	height: 425px;
	margin: 0 auto;
	margin-top: 150px;
	
}

.illust >img{
	width: 100%; /* 나중에 수정 */
	height: 100%;
    font-family: baskerville-bt-roman,Serif;
    font-weight: 400;
    color: #fff;
}


.header_member{
	width: 1132.01px; 
	height: 103.958px;
	margin: 0 auto;
	margin-top:55px;
	overflow: hidden;
	background-color: white;
	color: #3a2d23;
    font-family: Roboto,Noto Sans KR,sans-serif;
    font-size: 18px;		/* 20px */
	
	}
.header_down{
	width: 100%;
	height: 221px;
	overflow: hidden;
	
	
	
}

.member_info{
	width: 1052.010px;
	height: 55.972px;
	margin: 0 auto;
	margin-top: 24px;
	overflow: hidden;
}

.member_subinfo{
	width:577.29px;
	height: 35.56px;
	line-height: 35.56px;
	margin-top: 10px;
	float: left;
	
}

.header_button{
	
	float:right;
	overflow: hidden;
}

#bt{
	float: right;
	width: 116px;
	height: 36px;
	border: 2px solid #f7901e;
	margin-left: 16px;
	margin-top: 8px;
	text-align: center;
	line-height: 36px;

}

.header_sb{
	font-size: 14px;
    color: #f7901e;
	font-family: Roboto,Noto Sans KR,sans-serif;
    font-weight: 400;
	
}

.header_sb:hover{color: white; background-color: #f7901e;}

.header_text{
	color: #3a2d23;
    font-style: Roboto,Noto Sans KR,sans-serif;
	font-size: 20px;
	
} 
/*********************************************** main *****************************************************/

.main_1{
	width: 1108px;
	height: 615.313px;
	margin: 0 auto;
	margin-top: 179.444px;
	overflow: hidden;
	}
.main_1text{
	width: 100%;
	height: 90px;
	}
	
.news{
	font-size: 40px;
    font-family: baskerville-bt-roman,Serif;
    text-align: center;
	margin-bottom: 10px;
	color: #3a2d23;
}

.news2{
	font-size: 20px;
    font-weight: 300;
	text-align: center;
	color: #3a2d23;
    font-family: Roboto,Noto Sans KR,sans-serif;
    }
	
.main_1info{
	width: 1140px;
	height: 687px;
	margin: 0 auto;
	margin-top:80px;
}
.main_subinfo{
	height: 357px;
	width: 271px;
	float: left;
	margin-left: 8px;
/* 	 margin-left: 95px;  */
/* 	margin: 0 auto; */
	
}

.main_down{
	width: 1903px;
	height: 184.19px;
	margin-top: 48px;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 72px;
	
	
	
}

.main_subinfo{
	width: 270.993px;
	height: 333.351px;}
	
	
.main_info1{
	width: 475px;
	height: 663px;
	float: left;
	margin-left: 5px;
	
}

.main1_a1{
	width: 271.007px;
	height: 271.007px;
	background-image: url("../images/common/a1.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	
}

.subinfo_text1{
	width: 100%;
	height: 25.56px;
	margin-top: 12px;
	color: #3a2d23;
    font-style: Roboto,Noto Sans KR,sans-serif;
    font-weight: 400;
    font-size: 17px;
    text-align: center;}
	
.main_info1_store{
	width: 467px;
	height: 38px;
}

.subinfo_text2{
	width: 100%;
	height: 15.56px;
	margin-top: 4.8px;
	text-align: center;
	}
	
	
/* .main_info1_choice{
	width: 467px;
	height: 36px;
	background-color: olive;
	margin-top: 4.8px;
	font-size: .8125rem;
    font-weight: 300;
    color: #888;
    text-align: center;
	
	
} */

.main1_a2{
	width: 271.007px;
	height: 271.007px;
	background-image: url("../images/common/a2.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	
}
.main1_a3{
	width: 271.007px;
	height: 271.007px;
	background-image: url("../images/common/a3.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	
}

.main1_a4{
	width: 271.007px;
	height: 271.007px;
	background-image: url("../images/common/a4.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	
}

/*************************************** main2********************************** */
.main_2{
	width: 100%;
	height: 529.514px;
	background-color: #fdfaeb;
	margin: 0 auto;
	overflow: hidden;
	
}

.main_2_wrap{
	width: 1140px;
	height: 417.535px;
	margin: 0 auto;
	margin-top: 56px;
	}
	
	
/* .mian_info1_sub{
	width: 467px;
	height: 32px;
	background-color: orange;
	
} */
.main_2_text{
	width: 419.51px;
	height: 305.1px;
	margin-top: 56px;
	float: left;
}

.main_2_text1{
	width:100%;;
	height: 50px;
	font-family: baskerville-bt-roman,Serif;
	font-weight: 400;
	font-size: 40px;
	
}
.main_2_text2{
	width: 419.5px;
	height: 81px;
	font-family: Roboto,Noto Sans KR,sans-serif;
	margin-top: 32px;
	font-size: 16px;
}

.main_2_player{
	width: 657px;
	height: 370px;
	float: right;
	margin-top: 24px;
	
}
/********************************* main3 *****************************/
.voice{
	
	width: 1108px;
	height: 615.313px;
	margin: 0 auto;
	margin-top: 81px;
	text-align: center;
	
	
	font-family: baskerville-bt-roman,Serif;
	font-weight: 400;
	font-size: 40px;
	color: #FFFFFF;
}
.main_3{
 	width: 1140px;
 	height: 521.649px;
 	background-color: green;
 	margin: 0 auto;
 	overflow: hidden;
}

.main_3_wrap{
	width: 1116.01px;
	height: 409.67px;
	background-color: lime;
	margin: 0 auto;
	
}

.main_3_picture{
	width: 643px;
	height: 361.68px;}
	
	
.main_info2{
	width: 427.5px;
	height: 403.594px;
	background-color: maroon;
	margin-top: 4px;
	
}

/********************************************* aside ***************************/
aside{
	width: 40px;
	height: 40px;
	background-color: #584934;
	
	position: fixed;
	
	right: 30px;
	bottom: 40px;
}

aside:hover{background-color: #f7901e;}

.top{
	width:21.128px;
	height:14.444px;
	color: #fdfaeb;
    font-size: 10px;
    font-family: Roboto,Noto Sans KR,sans-serif;
    font-weight: 400;
    margin: 0 auto;
    margin-top: 20px;
	
}




/********************************************* footer ********************************************************/

footer{
	width: 100%;
	height: 264.063px;
	background-color: #584934;
}

.footer_top{
	width: 100%;
	height: 80px;
	border-bottom: solid 1px rgba(0,0,0,.24);
	
}


.footer_subtop{
	width: 1140px;
	height: 80px;
	margin:0 auto;
	
}


.a1{
	width: 285px;
	height: 80px;
	float: left;
	font:  14px Roboto,Noto Sans KR,sans-serif;
	font-weight: 400;
	color: #fdfaeb;
	line-height: 80px;
}

.a2{
	width: 665px;
	height: 80px;
	float: left;
	font: normal 14px Roboto,Noto Sans KR,sans-serif;
	line-height: 80px;
	color: #fdfaeb;
	
}

.a3{
	width: 190px;
	height: 80px;
	float: left;
	font: 14px Roboto,Noto Sans KR,sans-serif; 
	line-height: 80px;
	
}

.a3 >a{
	float: right;
	color: #f7901e;
}

.a3 a:hover {
		color: #f27600;
}

.footer_down{
	width: 100%;
	height: 184px;
	
}

.footer_subdown{
	width: 1140px;
	height: 184px;
	margin:0 auto;
	overflow: hidden;
	
}

.b1{

	width: 285px;
	height: 72px;
	float: left;
	line-height: 72px;
	margin-top: 56px;
	
	
}

.b1 img{
	width: 220;
	height: 21.95px;
	padding: 4px;
	
}

.b2 {

	width: 665px;
	height: 72px;
	float:left;
	margin-top: 56px;
}
	

.b2_1{
	font: 12px Roboto,Noto Sans KR,sans-serif;
	color: rgba(255,255,255,0.4); 
	padding: 4px;
}

.b2_2{
	font: 12px Roboto,Noto Sans KR,sans-serif;
	color: rgba(255,255,255,0.4); 
	padding: 4px;
}

.b2_3{
	font: 13px baskerville-bt-roman,Serif;;
	color: rgba(255,255,255,0.4); 
	padding: 4px;
}

.b3{
	width: 190px;
	height: 72px;
	float: left;
	margin-top: 56px;; 

}

.b3_sub{
	width: 151.98px;
	height: 37px;
	float: right;
	

}

.b3_3 img{
	width: 28px;
	height: 28px;
	float: right;
	margin-left: 16px;
}
.b3_2 img{
	width: 28px;
	height: 28px;
	float: right;
	margin-left: 16px;
}

.b3_1 img{
	width: 36px;
	height: 37px;
	float: right;
	margin-left: 16px;
}


}


