@charset "UTF-8";

/******************************** header **************************/

header{
	width: 100%;
	height: 320px;
	background-image: url("../images/common/voice.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	
	
	
}

nav{
	width: 100%;
	height: 98px;
	border-bottom: rgba(0,0,0,.1) 1px solid; 
	
	
}

.header_wrap{
	width:1132.01px;
	height:100px;
	margin: 0 auto;
	overflow: hidden;
	
	
}

.header_wrap >img{
	width: 91.2px;
	height: 55.19px;
	padding-top: 22.405px;
	
}

.header_nav{
	margin-right:16px;
	width: 1024.83px;
	height: 60px;
	margin-top: 40px;
	float: right; /* float!!!!!  */
	
}

.header_menu{
	margin-top: 21px;
	overflow: hidden;
	
}
.header_menu >li{
	float: right;
	margin-left: 72px;
	font-size: 18px;
    font-family: baskerville-bt-roman,Serif;
    font-weight: 400;
    color: #fff;
}

.header_down{
	width: 100%;
	height: 221px;
	background-color: aqua;
	overflow: hidden;
	
}

.voice{
	width:100%;;
	height: 50px;
	background-color: blue;
	margin-top: 81px;
	text-align: center;
	
	font-family: baskerville-bt-roman,Serif;
	font-weight: 400;
	font-size: 40px;
	color: #FFFFFF;
}

/*************************** main ***********************************/

.main_info{
	width: 1140px;
	height: 687px;
	background-color: fuchsia;
	margin: 0 auto;
	margin-top:80px;
	
}


.main_info1{
	width: 467px;
	height: 663px;
	background-color: lime;
	float: left;
	margin-left: 95px;
	
}

.main_info1_store{
	width: 467px;
	height: 38px;
	background-color: green;
	
}
.main_info1_choice{
	width: 467px;
	height: 36px;
	background-color: olive;
	
}

.mian_info1_sub{
	width: 467px;
	height: 32px;
	background-color: orange;
	
}


.main_info2{
	width: 419.5px;
	height: 403.594px;
	background-color: maroon;
	float: right;
	margin-right: 95px;
	overflow: hidden;
	
}

.main_info2_a{
	width: 100%;
	height: 180px;
	background-color: olive;
	font-size: 20px;
	line-height: 1.8;
	font-weight: 200;
	color: #3a2d23;
    font-family: Roboto,Noto Sans KR,sans-serif;
}

.main_info2_a > span{
	
	    font-weight: 400;
}

.main_info2_b{
	width: 100%;
	height: 25px;
	margin-top: 16px;
	background-color: orange;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.8;
	color: #3a2d23;
    font-family: Roboto,Noto Sans KR,sans-serif;
	font-size: 16px;
	
}
.main_info2_c{
	width: 100%;
	height: 28px;
	margin-top: 1.6px;
	background-color: purple;
	color: #3a2d23;
    font-family: Roboto,Noto Sans KR,sans-serif;
    line-height: 1.8;
    font-size: 16px;
    
}



.main_info2_d{
	width: 419.5px;
	height: 57px;
	background-color: orange;
	margin-top: 32px;
	font-size: 12px;
	font-weight: 300;
    line-height: 1.6;
    color: #3a2d23;
    font-family: Roboto,Noto Sans KR,sans-serif;
	
}

.main_info2_e{
	width: 419.5px;
	height: 40px;
	margin-top: 24px;
	background-color: purple;
}

.main_info2_button{
	width: 116.53px;
	height: 40px;
    border: 2px solid #f7901e;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    float: right;
	
}
.main_info2_button > a{
	font-size: 14px;
    color: #f7901e;
	
}

.input{
	    font-weight: 400;
	    font-size: 13px;
	    color: #3a2d23;
    font-family: Roboto,Noto Sans KR,sans-serif;
	
}

.main_down{
	width: 1903px;
	height: 184.19px;
	background-color: green;
	margin: 0 auto;
	margin-top: 72px;	
	overflow: hidden;
}

.check_wrap{
 	width: 938px;
 	height: 72.19px;
 	background-color: red;
 	margin: 0 auto;
 	margin-top: 56px;
	
}
.check{
	width: 186px;
	height: 100%;
	background-color: teal;
	float:  left;
	font-size: 19.2px;
	font-weight: 300;
    color: #f7901e;
    font-family: Roboto,Noto Sans KR,sans-serif;
	
}

.check_text{
		width: 752px;
		height: 100%;
		background-color: yellow;
		float: right; 
		font-size: 13px;
		color: #3a2d23;
    font-family: Roboto,Noto Sans KR,sans-serif;
	
}

#c{
	margin-bottom: 3.2px;
	
	
}